
<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ "/" | relative_url }}">Samtools</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li{% if page.url == '/' %} class="active"{% endif %}><a href="{{ "/" | relative_url }}">Home</a></li>
					<li class="dropdown{% if page.url == '/download/' ||  page.url == '/develop' %} active{% endif %}">
						<a id="dl_label" role="button" class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="{{ "/download" | relative_url }}">
							Download <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dl_label">
							<li><a href="{{ "/download" | relative_url }}">Downloads</a></li>
							<li><a href="{{ "/develop" | relative_url }}">Development</a></li>
						</ul>
					</li>
					<li class="dropdown{% if page.url == '/workflow/' %} active{% endif %}">
						<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="{{ "/workflow" | relative_url }}">
							Workflows <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{ "/workflow#mapping_to_variant" | relative_url }}">WGS/WES Mapping to Variant Calls</a></li>
							<li><a href="{{ "/workflow#mapping_to_cram" | relative_url }}">Using CRAM within Samtools</a></li>
						</ul>
					</li>
					<li class="dropdown{% if page.url == '/doc/' %} active{% endif %}">
						<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="{{ "/doc" | relative_url }}">
							Documentation <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{ "/doc#manual-pages" | relative_url }}">Man Pages</a></li>
							<li><a href="{{ "/doc#file-formats" | relative_url }}">Specifications</a></li>
							<li><a href="{{ "/benchmarks/zlib.html" | relative_url }}">Zlib Benchmarks</a></li>
							<li><a href="{{ "/benchmarks/CRAM.html" | relative_url }}">CRAM Benchmarks</a></li>
							<li><a href="{{ "/doc#publications" | relative_url }}">Publications</a></li>
						</ul>
					</li>
					<li class="dropdown{% if page.url == '/support/' %} active{% endif %}">
						<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="{{ "/support" | relative_url }}">
							Support <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{ "/support#mailing-lists" | relative_url }}">Mailing Lists</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</div>

