<!--Menu-->
<div class="container">
	<ul class="nav nav-pills">
		<li class="active"><a href="/">Home</a></li>
		<li class="dropdown">
			<a id="dl_label" role="button" class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/download.html">
				Download <span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dl_label">
				<li><a href="/download">Downloads</a></li>
				<li><a href="/develop">Development</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/workflow.html">
				Workflows <span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/workflow#wges_high">High Coverage WGS/WES</a></li>
				<li><a href="/workflow#wgs_low">Low Coverage WGS</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/doc.html">
				Documentation <span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/doc#manuals">Man Pages</a></li>
				<li><a href="/doc#specs">Specifications</a><li>
				<li><a href="/doc#pubs">Publications</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/support.html">
				Support <span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/support#lists">Mailing Lists</a></li>
			</ul>
		</li>
	</ul>
</div>
<!--End of Menu-->
<div class="header_banner">
	<div class="container">
		<h1>SAMtools</h1>
	</div>
</div>
